.btn-cust {
  background-color: transparent;
  border: 2px white solid;
  padding: 15px 25px;
  width: 180px;
  margin: 6px;
  font-size: 12.5px;
  -webkit-transition: background-color 0.5s, color 0.5s;
}

.btn-cust:hover {
  background-color: white;
  color: black;
}

.header {
  padding-top: -35px;
  background-image: url(../img/image1.jpg);
  height: 625px;
}

.header-text-position {
  padding: 10% 0 3% 2%;
  margin: 0 5%;
  width: 40%;
  float: right;
  clear: both;
}

.header-text {
  font-size: 3em;
  margin: .25em 0;
}

.arrow {
  margin-top: 2.5%;
  height: 80px;
  width: 30px;
  background-color: transparent;
}

.wrapper {
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 10, 60, 0.50) 0%, rgba(0, 5, 60, 0.90) 60%, rgba(0, 5, 60, 0.90) 100%);
}

.nav {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 60px;
  position: relative;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  background-color: white;
}

.nav-container {
  width: 100%;
  height: 68px;
}

.nav-header {
  margin: 0.5em 0 0 25px;
  float: left;
  position: absolute;
}

.menu {
  float: right;
  margin: auto 4em;
}

.glyphicon-menu-hamburger {
  position: absolute;
  font-size: 30px;
  color: black;
  margin: .5em 0 0 0;
}

.line1,
.line2 {
  overflow: hidden;
  width: 34%;
  border-top: 1px solid black;
  transform: rotate(65deg);
}

.line1 {
  margin-top: 14.5%;
  margin-right: -12%;
  float: right;
}

.line2 {
  margin-top: 36%;
  margin-left: -12%;
  float: left;
}

.sec-2-header {
  margin: 8% auto 5%;
}

.img2 {
  height: 100%;
  background: url(../img/image2.jpg) no-repeat;
  background-size: 100%;
  display: none;
}
.img2-cont{
  height: 40em;
  margin: 0 10%;
}

.section2 {
  margin-bottom: 10em;
}

.section2>div>h2 {
  margin: 3.5em 0 1.5em;
}

.footer-list {
  list-style-type: none;
  padding-left: 0;
}

.footer-list>li>a {
  text-decoration: none;
  color: #222;
}

.footer-list>li {
  text-decoration: none;
  margin: 0.25em;
}

footer {
  margin-bottom: 20em;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  overflow-x: hidden;
}

@media (max-width: 1040px) {
  .img2-cont {
    height: 25em;
  }
  .header-text-position {
    padding: 10% 0;
    margin: 0 10%;
    width: 70%;
  }
}

@media (max-width: 560px) {
  .header-text-position {
    padding: 15% 0;
    margin: 0 5%;
    width: 90%;
  }
  .nav-header {
    margin: 0.9em 0 0 25px;
    float: left;
    position: absolute;
  }
  .section2 {
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.5em;
  }
  .img2-cont {
    height: 20em;
  }
}
